/* --- GENERATIVE WHITE BACKGROUND STYLES --- */

.generative-white-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.bio-particle-white {
  position: absolute;
  top: 110%;
  opacity: 0.9;
  animation-name: driftUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes driftUp {
  0% {
    top: 110%;
    transform: translateX(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    top: -20%;
    transform: translateX(50px) rotate(360deg);
    opacity: 0;
  }
}
